<h1><%= @info.name.titlecase %></h1>
<h4 class="center"><%= "Info for the #{@product.name.titlecase}" %></h4>

<%= form_for [:admin, @info] do |f| %>
  <%= render 'partials/form_errors', model: @info %>

  <div>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, autofocus:true %>
  </div>
  <div>
    <%= f.label :content, "Content" %>
    <%= f.text_area :content %>
  </div>
  <hr>
  <div class="row spread">
    <div></div>
    <deleter path="<%= admin_info_path(@info) %>" redirect="<%= edit_admin_product_path(@product) %>">
      Hold To Delete
    </deleter>
  </div>
  <hr>
  <div class="perspective">
    <%= f.submit "Save", class: "save" %>
  </div>
  
  <div class="center">
    <%= link_to "Er... cancel please!", edit_admin_product_path(@product) %>
  </div>
  
<% end %>
