<%= render 'partials/form_errors', model: f.object %>

<div>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name, autofocus:true %>
</div>

<div>
  <%= f.label :content, "Content" %>
  <%= f.text_area :content, rows: 5 %>
</div>

<div class="row">
  <%= f.label :show_retail do %>
    <%= f.check_box :show_retail %>
    Show Retail
  <% end %>
  <%= f.label :show_wholesale do %>
    <%= f.check_box :show_wholesale %>
    Show Wholesale
  <% end %>

  <% if edit %>
    <div class="perspective right">
      <deleter class="button" path="<%= admin_product_path(@product) %>" redirect="<%= admin_products_path %>">
        Hold To Delete
      </deleter>
    </div>
  <% end %>
</div>

<div class="perspective">
  <%= f.submit "Save", class: "save" %>
</div>

<div class="center">
  <%= link_to "Er... cancel please!", edit_admin_product_path(@product) %>
</div>
