<%= render 'partials/form_errors', model: f.object %>

<div>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :url, "Website" %>
  <%= f.text_field :url %>
</div>

<div>
  <%= f.label :phone, "Phone" %>
  <%= f.text_field :phone %>
</div>

<div>
  <%= f.label :address, "Address" %>
  <%= f.text_field :address %>
</div>

<div>
  <%= f.label :city, "City" %>
  <%= f.text_field :city %>
</div>

<div>
  <%= f.label :province, "Province" %>
  <%= f.text_field :province %>
</div>

<div>
  <%= f.label :postal, "Postal" %>
  <%= f.text_field :postal %>
</div>

<div>
  <%= f.label :country, "Country" %>
  <%= f.text_field :country %>
</div>


<hr>

<div class="row spread">
  <% if edit %>
    <div class="perspective right">
      <deleter class="button" path="<%= admin_location_path(f.object) %>" redirect="<%= admin_locations_path %>">
        Hold To Delete
      </deleter>
    </div>
  <% end %>
</div>

<hr>

<div class="perspective">
  <%= f.submit "Save", class: "save" %>
</div>

<div class="center">
  <%= link_to "Er... cancel please!", admin_locations_path %>
</div>
