<%= render 'partials/form_errors', model: f.object %>

<div>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :date, "Date" %>
  <%= f.text_field :date %>
</div>

<div>
  <%= f.label :location, "Location" %>
  <%= f.text_field :location %>
</div>

<div>
  <%= f.label :website, "Website" %>
  <%= f.text_field :website %>
</div>

<div>
  <%= f.label :description, "Description" %>
  <%= f.text_area :description, rows: 2 %>
</div>

<hr>

<div class="row spread">
  <% if edit %>
    <div class="perspective right">
      <deleter class="button" path="<%= admin_event_path(f.object) %>" redirect="<%= admin_events_path %>">
        Hold To Delete
      </deleter>
    </div>
  <% end %>
</div>

<hr>

<div class="perspective">
  <%= f.submit "Save", class: "save", data: { disable_with: "Saving" } %>
  <%= link_to "Back", admin_events_path, class: "back" %>
</div>
