<h2 class="perspective">
  <%= link_to "New Event", new_admin_event_path, class: "button" %>
</h2>

<section>
  <% @events.each do |event| %>
    <div class="event">
      <h3 class="bar <%= bar_color %>"><%=event.name%></h3>
      <p><%=event.date%></p>
      <p><%=event.location%></p>
      <p class="description"><%=event.description.html_safe%></p>
      <% if event.website %><p><a href="<%=event.website%>">Website</a></p><% end %>
      <div class="perspective">
        <%= link_to "Edit", edit_admin_event_path(event), class: "button" %>
      </div>
    </div>
  <% end %>

  <% if @events.empty? %>
    No upcoming events.
  <% end %>
</section>

<p><i>For now, events are sorted by when they were last updated.<br>Open an event and click Save to move it to the front of the list.</i></p>
