<h2 class="perspective">
  <%= link_to "New Event", new_admin_event_path, class: "button" %>
</h2>

<section>
  <% @events.each do |event| %>
    <div class="event">
      <h3 class="bar <%= bar_color %>"><%=event.name%></h3>
      <p><%=event.date%></p>
      <p><%=event.location%></p>
      <p><%=event.description%></p>
      <div class="perspective">
        <%= link_to "Edit", edit_admin_event_path(event), class: "button" %>
      </div>
    </div>
  <% end %>
</section>
