<h1 class="page-title">Stinky Events</h1>

<section>
  <% if @events.length %>
    <% @events.each do |event| %>
      <div>
        <h3 class="bar <%= bar_color %>"><%=event.name%></h3>
        <p><%=event.date%></p>
        <p><%=event.location%></p>
        <p><%=event.description%></p>
      </div>
    <% end %>
  <% else %>
    No upcoming events.
  <% end %>
</section>

<section>
  <p>Want to book us for an event? Get in touch: <em>freyja@fehuleather.com</em></p>
</section>
