<div class="order-preview" sticky="10">
  <%= link_to "Checkout >", checkout_wholesale_order_path, class: "right button" %>
  <h1>In Your Order</h1>
  <% if @merchant.current_order.order_items.count == 0 %>
    <div>Nothing yet...</div>
  <% else %>
    <% @merchant.current_order.order_items.each do |item| %>
      <div class="item">
        <img class="preview-img" src="<%=item.image('wholesale')%>">
        <div class="details">
          <div class="name"><%= item.name %></div>
          <div class="price">
            <%= item.quantity %> x <%= number_to_currency(item.price) %> = <%= number_to_currency(item.quantity * item.price) %>
          </div>
          <div class="actions">
            <%= link_to "Edit", product_wholesale_order_path(item.product) %>
            <a remove-item="<%= item.configuration.id %>">Remove</a>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  
  <div class="update-order">
    <a class="button">Update Order</a>
  </div>
</div>
