<h3><%= @product.name.pluralize %></h3>

<table>
  <thead>
    <td><a>Quantity</a></td>
    <% @product.variations.order(:level).each_with_index do |variation, index| %>
      <td <%= "default=true" if index == 0 %>><a><%= variation.name %></a></td>
    <% end %>
  </thead>
  <tbody>
    <% @product.stocks.each do |stock| %>
      <tr>
        <td>
          <div class="quantity">
            <div class="plus button">-</div>
            <input type="number" min="0" max="<%= stock.quantity %>" value="0" class="quantity">
            <div class="minus button">+</div>
          </div>
        </td>
        <% stock.variants.joins(:variation).order("variations.level").each do |variant| %>
          <td sort-value='<%= "#{variant.sort_order.to_s}_#{variant.name}" %>'>
            <%= variant.name %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </body>
</table>
