<div class="order-preview">
  <h2>In Your Order</h2>
  <%= "Nothing yet..." if @merchant.current_order.items.count == 0 %>
  <%  %>
  <%  %>
</div>

<div class="order-builder">
  <a href="/wholesale/order/edit">&lt; Other Products</a>

  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="20 35 160 150">
    <defs>
      <path id="svg-circle" d="M25, 100 a75,75 0 1,0 150,0 a75,75 0 1,0 -150,0"/>
      <clipPath id="clip-path"><path d="M40, 100 a60,60 0 1,1 120,0 a60,60 0 1,1 -120,0"/></clipPath>
    </defs>
    <image x="40" y="40" width="120" height="120" xlink:href="<%=@product.image('totem')%>" clip-path='url(#clip-path)'/>
    <text x="0" y="0" fill="#456" fill-opacity="1" transform="rotate(<%=-90 + @product.name.length*3.1%>, 100, 100)">
      <textPath xlink:href="#svg-circle"><%= @product.name %></textPath>
    </text>
  </svg>

  <table>
    <thead>
      <td>Preview</td>
      <td><a>Quantity</a></td>
      <% @product.variations.order(:level).each_with_index do |variation, index| %>
        <td <%= "default=true" if index == 0 %>><a><%= variation.name %></a></td>
      <% end %>
    </thead>
    <tbody>
      <% @product.stocks.each do |stock| %>
        <tr>
          <td>
            <img class="preview" src="<%=stock.image('wholesale')%>">
          </td>
          <td sort-value=''>
            <div class="quantity perspective">
              <input type="number" min="0" max="<%= stock.quantity %>" value="0" class="quantity">
              <div class="plus button">-</div>
              <div class="minus button">+</div>
            </div>
          </td>
          <% stock.variants.joins(:variation).order("variations.level").each do |variant| %>
            <td sort-value='<%= "#{variant.sort_order.to_s}_#{variant.name}" %>'>
              <%= variant.name %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <a href="/wholesale/order/edit">&lt; Other Products</a>
</border>
