<%= render 'partials/form_errors', model: f.object %>

<div class="row spread">
  <div>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :model, "Model" %>
    <%= f.text_field :model %>
  </div>
</div>

<div>
  <%= f.label :description, "Description" %>
  <%= f.text_area :description, rows: 3 %>
</div>


<div class="row">
  <%= f.label :adjust_retail, "Retail Price Adjustment (CAD)" %>
  <%= f.number_field :adjust_retail %>
  <%= f.label :adjust_wholesale, "Wholesale Price Adjustment (CAD)" %>
  <%= f.number_field :adjust_wholesale %>
</div>

<hr>

<%= render 'partials/image_uploader', f:f, field: :totem_image, name: "Totem Image" %>
<%= render 'partials/image_uploader', f:f, field: :wholesale_image, name: "Wholesale Image" %>

<hr>

<% if edit %>
  <div class="builds">
    <%= f.fields_for :builds do |b| %>
      <span class="name"><%= b.object.size.name %></span>
      <%= b.number_field :stock %>
    <% end %>
  </div>
  
  <hr>

  <div class="row">
    <div class="perspective right">
      <deleter class="button" path="<%= admin_variation_path(@variation) %>" redirect="<%= edit_admin_product_path(@product) %>">
        Hold To Delete
      </deleter>
    </div>
  </div>
<% end %>

<div class="perspective">
  <%= f.submit "Save", class: "save" %>
</div>

<div class="row spread">
  <%= link_to(@prev.name.titlecase, edit_admin_variation_path(@prev)) if edit %>
  <%= link_to("Er... cancel please!", edit_admin_product_path(@product)) %>
  <%= link_to(@next.name.titlecase, edit_admin_variation_path(@next)) if edit %>
</div>
