<%= render 'partials/form_errors', model: f.object %>

<div class="row spread">
  <div>
    <%= f.number_field :index %>
    <%= f.label :index, "Index" %>
  </div>
  <% if edit %>
    <div class="perspective right">
      <deleter class="button" path="<%= admin_totem_row_path(f.object) %>" redirect="<%= admin_totem_path %>">
        Hold To Delete
      </deleter>
    </div>
  <% end %>
</div>

<hr>

<div class="perspective">
  <%= f.submit "Save", class: "save" %>
</div>
