<h1>Edit the Totem</h1>

<div class="listing">
  <% @totem_rows.each do |totem_row| %>
    <div class="totem-row">
      <h3><%= link_to "Row #{totem_row.index}", edit_admin_totem_row_path(totem_row) %></h3>
      <% totem_row.items.order(:index).each do |item| %>
        <div class="totem-item">
          <%= item.index %>
          <%= link_to item.real_name, edit_admin_totem_item_path(item) %>
          <% if item.sold_out %><span class="red-text">SOLD OUT</span><% end %>
        </div>
      <% end %>
      <div class="perspective">
        <%= link_to "New Item", new_admin_totem_row_totem_item_path(totem_row), class: "new button" %>
      </div>
    </div>
  <% end %>
  <div class="perspective">
    <%= link_to "New Row", new_admin_totem_row_path, class: "new button" %>
  </div>
</div>
