<h1>It's Checkout Time</h1>

<section>
  <h3>You're about to order <%= link_to "#{@items_count} item".pluralize(@items_count), edit_wholesale_path %>.</h3>
  
  <div class="little-preview">
    <% @order.items.each do |item| %>
      <% item.quantity.times do %>
        <div>
          <%= image_tag item.build.variation.wholesale_image %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>

<section ng-cloak>
  <h2>Where should we ship it to?</h2>
  
  <div class="addresses">
    <% @merchant.addresses.each do |address| %>
      <div class="address" ng-click="shipTo = <%=address.id%>" ng-class="{selected:shipTo == <%=address.id%>}">
        <div class="info">
          <%= address.name %><br>
          <%= address.line1 %><br>
          <% if address.line2.present? %>
            <%= address.line2 %><br>
          <% end %>
          <%= address.city %>, <%= address.region %><br>
          <%= address.code %> <%= address.country %>
        </div>
        <div class="edit">
          <%= link_to "Edit", edit_merchant_address_path(address) %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="perspective in-bl">
    <%= link_to "New Address", new_merchant_address_path, class: "button" %>
  </div>
</section>

<section ng-cloak ng-show="shipTo != null">
  <label>
    Preferred delivery date (optional, best effort)
    <input type="text"></input>
  </label>
</section>

<section ng-cloak ng-show="shipTo">
  <div class="perspective in-bl">
    <div class="button">Pay now</div>
    <div class="button">Pay later</div>
  </div>
</section>
