<h1>It's Checkout Time</h1>

<section>
  <h3>You're about to order <%= link_to "#{@items_count} item".pluralize(@items_count), edit_wholesale_path %>.</h3>

  <div class="little-preview">
    <% @order.items.each do |item| %>
      <% item.quantity.times do %>
        <div>
          <%= image_tag item.build.variation.wholesale_image if item.build.variation.wholesale_image %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>

<section ng-cloak>
  <h2>Where should we ship it to?</h2>
  <div class="addresses">
    <% if @merchant.addresses.length > 0 %>
      <div ng-init="shipTo = <%=@merchant.addresses.first.id%>"></div>
      <% @merchant.addresses.each do |address| %>
        <div class="address" ng-click="shipTo = <%=address.id%>; email = '<%=address.email%>'" ng-class="{selected:shipTo == <%=address.id%>}">
          <div class="info">
            <%= address.name %><br>
            <%= address.line1 %><br>
            <% if address.line2.present? %>
              <%= address.line2 %><br>
            <% end %>
            <%= address.city %>, <%= address.region %><br>
            <%= address.code %> <%= address.country %>
          </div>
          <div class="edit">
            <%= link_to "Edit", edit_merchant_address_path(address) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="perspective center">
    <%= link_to "New Address", new_merchant_address_path, class: "button" %>
  </div>
</section>

<section ng-cloak ng-show="shipTo != null">
  <label class="preferedDate">
    Preferred delivery date (optional, best effort)
    <input ng-model="order.preferredDate" type="text">
  </label>
  <label class="notes">
    Notes (optional)
    <textarea ng-model="order.notes"></textarea>
  </label>
</section>

<section ng-cloak ng-show="shipTo" class="submit center">
  <%= form_tag submit_wholesale_path, class: "inbl perspective" do |f| %>
    <input type="hidden" name="shippingAddressId" value="{{shipTo | json}}">
    <input type="hidden" name="orderInfo" value="{{order | json}}">
    <input type="submit" value="Submit Order">
  <% end %>
</section>
