<h1>It's Checkout Time</h1>

<section>
  <h3>You're about to order <%= link_to "#{@items_count} item".pluralize(@items_count), edit_wholesale_path %>.</h3>
  
  <div class="little-preview">
    <% @order.items.each do |item| %>
      <% item.quantity.times do %>
        <div>
          <%= image_tag item.build.variation.wholesale_image %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>

<section ng-cloak>
  <label>
    Preferred delivery date (optional, best effort)
    <input type="text"></input>
  </label>
</section>

<section ng-cloak>
  <h2>Where should we ship it to?</h2>
  
  <div class="addresses">
    <% @merchant.addresses.each do |address| %>
      <div class="address">
        <%= address.name %><br>
        <%= address.line1 %><br>
        <% if address.line2.present? %>
          <%= address.line2 %><br>
        <% end %>
        <%= address.city %>, <%= address.region %><br>
        <%= address.code %> <%= address.country %>
      </div>
    <% end %>
  </div>
  
  <h3><%= link_to "New Address", new_merchant_address_path %></h3>
</section>

<section>
  <div class="button">Pay now</div>
  <div class="button">Pay later</div>
</section>
