<div class="top">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="20 40 160 140">
    <defs>
      <path id="svg-circle" d="M25, 100 a75,75 0 1,0 150,0 a75,75 0 1,0 -150,0"/>
      <clipPath id="clip-path"><path d="M40, 100 a60,60 0 1,1 120,0 a60,60 0 1,1 -120,0"/></clipPath>
    </defs>
    <image x="40" y="40" width="120" height="120" xlink:href="<%=@product.totem_image%>" clip-path='url(#clip-path)' />
    <text x="0" y="0" fill="#456" fill-opacity="1" transform="rotate(<%=-90 + @product.name.length*3%>, 100, 100)">
      <textPath xlink:href="#svg-circle"><%= @product.name %></textPath>
    </text>
  </svg>
  
  <div class="info">
    <div class="overview">
      This is where an arbitrary text field should go. Freyja should be able to HTML up in this all she wants. That'd be pretty hoot!
    </div>
    <% @product.infos.each do |info| %>
      <h3><%= info.name %></h3>
      <p><%= info.content %></p>
    <% end %>
  </div>
</div>

<div class="split">
  <div class="variations">
    <%= link_to "< All Products", edit_wholesale_path, class: "back button" %>
    <h1>Add to Your Order</h1>
    <% @product.variations.each do |variation| %>
      <div class="variation">
        <div class="info">
          <span class="name">
            <%= variation.name %>
          </span>
          <span class="price">
            $<%= variation.price_wholesale("CAD")/100 %>
          </span>
        </div>
        <%= image_tag variation.wholesale_image, class: "variation-image" %>
        <div class="builds">
          <% variation.builds.each do |build| %>
            <div class="build" item-editor>
              <div class="quantity">
                <span class="size-name"><%= build.size.name %></span>
                <div class="pill perspective">
                  <input type="number"
                         ng-model="editorBuild.displayQuantity"
                         ng-change="setQuantity(editorBuild.displayQuantity)"
                         ng-init="setQuantity(<%= current_order_quantity(@order, build) %>)">
                  <div class="button" ng-click="changeQuantity(-1)">-</div>
                  <div class="button" ng-click="changeQuantity(1)">+</div>
                  <div class="button five" ng-click="changeQuantity(5)">+5</div>
                </div>
              </div>
              <span ng-init="editorBuild.build_id=<%= build.id %>"></span>
              <span ng-init="editorBuild.product_id='<%= @product.id %>'"></span>
              <span ng-init="editorBuild.product_name='<%= @product.name %>'"></span>
              <span ng-init="editorBuild.size_name='<%= build.size.name %>'"></span>
              <span ng-init="editorBuild.variation_name='<%= variation.name %>'"></span>
              <span ng-init="editorBuild.price=<%= build.price_wholesale("CAD") %>"></span>
              <span ng-init="editorBuild.image='<%= variation.wholesale_image %>'"></span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div>
    <%= render "wholesales/wholesale_preview" %>
  </div>
</div>

<%= render "wholesales/button_bar" %>
