<h1>Past Orders</h1>

<section class="center">
  <% if @merchant.orders.count == 0 %>
    <h3 class="center">
      None yet. Would you like to
      <% if @merchant.current_order.nil? %>
        <%= link_to "place a new order", new_wholesale_path %>?
      <% else %>
        <%= link_to "edit your current order", edit_wholesale_path %>?
      <% end %>
    </h3>
  <% end %>

  <table>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <b><%= pluralize order.items.count, "Item" %></b>
          ordered on <b><%= order.submitted.strftime("%B %d, %Y") %></b>
          for <b>$<%= PrintMoney.cents_to_dollars(order.subtotal("CAD")) %></b><!-- TODO: Add currency -->
        </td>
        <td><%= order.paid.present? ? "Paid on #{order.paid.strftime("%B %d, %Y")}" : "Not Paid" %></td>
        <td><%= link_to "View Invoice", wholesale_order_invoice_path(order) %></td>
      </tr>
    <% end %>
  </table>
</section>
