<h1><%= time_ago_in_words(@order.created_at) %> ago, it started.</h1>
<p>A troupe of forest creatures emerge from the earth and from the bark of trees, quietly chanting an unusual incantation, The Rhyme Of The Order ID:</p>
<p class="center">
  <em>
    <%= rhyme_uuid @order.uuid %><br>
    <%= @order.uuid %>
  </em>
</p>
<p>They collect seeds and nuts and twigs and berries for a potion. When the potion is ready, they pluck the following secret ingredient<%= @many ? "s" : "" %> from the mystical Fehu tree:</p>
<ul>
<% @order.items.each do |item| %>
  <li><%= item.quantity == 1 ? "a" : "#{item.quantity} of the" %> <%= item.build_name %> <%= item.product_name %></li>
<% end %>
</ul>
<p>Dipped into the potion, the ingredient<%= @many ? "s come" : " comes" %> alive just for a moment, and bundle<%= @many ? " themselves" : "s itself" %> up into a square cardboard cocoon. Between the ringed branches of the Fehu tree, a portal opens, connecting the world of the forest to the inside of a <%= @order.address.country == "Canada" ? "Canada Post" : "USPS" %> delivery van. Into this portal, the forest creatures toss the cardboard cocoon with a fling of their little leggy limbs.</p>

<p>About <%= @order.address.country == "Canada" ? "ten days" : "three weeks" %> hence, <%= @order.address.name %> will hear a knock at this door:</p>

<p>
  <%= @order.address.line1 %><br>
  <% if @order.address.line2.present? %>
    <%= @order.address.line2 %><br>
  <% end %>
  <%= @order.address.region %>
  <%= @order.address.code %><br>
  <%= @order.address.country %>
</p>

<hr>

<p>Sometimes the delivery van runs out of aethanol, or gets ambushed by sun spiders. If you suspect such a thing has happened, please write down your deepest fears, and slip them into the mail slot marked <em>ivan@fehuleather.com</em>. Monsters (and Ivan) will take heed, and offer help in a hurry.</p>
