<h3 class="center">Wholesale Order Invoice</h3>

<section>
  <p>
    <h4>Shipping Address</h4>
    <%= @order.address.line1 %><br>
    <% if @order.address.line2.present? %>
      <%= @order.address.line2 %><br>
    <% end %>
    <%= @order.address.region %>
    <%= @order.address.code %><br>
    <%= @order.address.country %>
  </p>
</section>

<section>
  <table>
    <tr>
      <th>Product</th>
      <th>Variation</th>
      <th>Quantity</th>
      <th></th>
    </tr>
    <% @order.items.each do |item| %>
      <tr>
        <td><%= item.product_name %></td>
        <td><%= item.build_name %></td>
        <td><%= item.quantity %></td>
        <td><%= item.price %></td>
      </tr>
    <% end %>
    <tr>
      <td>Subtotal</td>
      <td></td>
      <td></td>
      <td><%= PrintMoney.cents_to_dollars(@order.subtotal("CAD")) %><!-- TODO: Currency --></td>
    </tr>
    <tr>
      <td>GST</td>
      <td></td>
      <td></td>
      <td><%= PrintMoney.cents_to_dollars((0.05 * @order.subtotal("CAD")).round) %><!-- TODO: Currency --></td>
    </tr>
    <tr>
      <td><b>Total</b></td>
      <td></td>
      <td></td>
      <td><b><%= PrintMoney.cents_to_dollars((1.05 * @order.subtotal("CAD")).round) %><!-- TODO: Currency --></b></td>
    </tr>
  </table>
</section>

<section>
  <%= form_tag pay_wholesale_path, class: "stripe" do |f| %>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <div class="perspective">
      Payment is due prior to shipping.
      You may
      <button>Pay with Card</button>,
      send an e-Transfer to freyja@fehuleather.com with the password "cufflove",
      or mail a cheque.
    </div>
  <% end %>
</section>

<section>
  <%= form_tag share_wholesale_path do %>
    <h3>Share this invoice.</h3>

    <%= label_tag :email do %>
      <%= hidden_field_tag :order_id, @order.id %>
      Recipient's Email
      <%= email_field_tag :email %>
    <% end %>

    <div class="share perspective">
      <%= submit_tag "Send", class: "save", data: { disable_with: 'Sending' } %>
    </div>
  <% end %>
</section>
