<div id="admin-header">
  <%= link_to "Events", :admin_events %>
  <%= link_to "Locations", :admin_locations %>
  <%= link_to "Orders", :admin_orders %>
  <%= link_to "Products", :admin_products %>
  
  <%= link_to "Stink Out", :stinkout, class: "right" %>
</div>
