<div id="admin-header" class="headers">
  <div class="nav">
    <%= link_to "Events", admin_events_path %>
    <%= link_to "Locations", admin_locations_path %>
    <%= link_to "Orders", admin_orders_path %>
    <%= link_to "Products", admin_products_path %>
    <%= link_to "Totem", admin_totem_path %>
  </div>
  
  <%= link_to "Stink Out", stink_path, method: :delete, class: "right" %>
</div>
