<div id="admin-header">
  <%= link_to "Events", "" %>
  <%= link_to "Locations", "" %>
  <%= link_to "Orders", "" %>
  <%= link_to "Products", :admin_products %>
  
  <%= link_to "Stink Out", :stinkout, class: "right" %>
</div>
