<footer>
  <div class="nav">
    <%= link_to "About", about_path %>
    <%= link_to "Events", events_path %>
    <%= link_to "Press", press_path %>
    <%= link_to "Locations", locations_path %>
    <%= link_to "Wholesale", merchant_path %>
  </div>
  
  <div class="social">
    <a href="https://twitter.com/fehuleather" rel="nofollow" target="_blank"><%= image_tag("twitter.png") %></a>
    <a href="https://www.pinterest.com/fehu/" rel="nofollow" target="_blank"><%= image_tag("pinterest.png") %></a>
    <a href="https://facebook.com/fehuleather" rel="nofollow" target="_blank"><%= image_tag("facebook.png") %></a>
    <a href="https://instagram.com/fehuleather/" rel="nofollow" target="_blank"><%= image_tag("instagram.png") %></a>
  </div>
  
  <div class="about">
    Handmade leather<br>from Calgary <%= image_tag "canada.svg" %>
  </div>

  <div class="rune">
    <a href="/">
      <img src="<%= asset_path("rune.min.svg") %>">
    </a>
  </div>
</footer>
