<footer>
  <div class="nav">
    <a href="/about">About</a>
    <a href="/locations">Locations</a>
    <a href="/events">Events</a>
    <a href="/wholesale">Wholesale</a>
  </div>
  
  <div class="social">
    <a href="https://twitter.com/fehuleather" target="_blank"><%= image_tag("twitter.png") %></a>
    <a href="https://www.pinterest.com/fehu/" target="_blank"><%= image_tag("pinterest.png") %></a>
    <a href="https://facebook.com/fehuleather" target="_blank"><%= image_tag("facebook.png") %></a>
    <a href="https://instagram.com/fehuleather/" target="_blank"><%= image_tag("instagram.png") %></a>
  </div>
  
  <div class="about">
    Handmade leather<br>from Calgary <%= image_tag "canada.svg" %>
  </div>

  <div class="rune">
    <a href="/">
      <object data="<%= asset_path("rune.min.svg") %>"></object>
    </a>
  </div>
</footer>
