<header>
  <div class="logo">
    <a href="/">
      <img src="<%= asset_path("logo.min.svg") %>">
    </a>
  </div>
  
  <!--[if gt IE 10]><!-->
  <div class="bricks">
    
    <header-row class="D">
      <row-item class="out s7"></row-item>
      <row-space class="s10"></row-space>
      <row-item class="out s7"></row-item>
    </header-row>
    
    <header-row class="C">
      <row-item class="out s6"></row-item>
      <row-item class="in s2 glyphs" href="/">
        <a href="https://twitter.com/fehuleather" target="_blank"><%= image_tag("twitter.png") %></a><!--
     --><a href="https://www.pinterest.com/fehu/" target="_blank"><%= image_tag("pinterest.png") %></a>
   </row-item>
      <row-space class="s8"></row-space>
      <row-item class="in s2 glyphs" href="/">
        <a href="https://facebook.com/fehuleather" target="_blank"><%= image_tag("facebook.png") %></a><!--
     --><a href="https://instagram.com/fehuleather/" target="_blank"><%= image_tag("instagram.png") %></a>
   </row-item>
      <row-item class="out s6"></row-item>
    </header-row>
    
    <header-row class="B">
      <row-item class="out s5"></row-item>
      <row-item class="in s4"><%= link_to "About", about_path %></row-item>
      <row-space class="s6"></row-space>
      <row-item class="in s4"><%= link_to "Events", events_path %></row-item>
      <row-item class="out s5"></row-item>
    </header-row>
    
    <header-row class="A">
      <row-item class="out s4"></row-item>
      <row-item class="in s6"><%= link_to "Locations", locations_path %></row-item>
      <row-space class="s4"></row-space>
      <row-item class="in s6"><%= link_to "Wholesale", merchant_path %></row-item>
      <row-item class="out s4"></row-item>
    </header-row>
  </div>
  
  <%= render "partials/shopping_cart" %>
  <!--<![endif]-->
</header>
