<h1>Orders</h1>

<% @orders.each do |order| %>
  <div class="order <%= order.class.to_s.downcase %>">
    <div><%= order.class.to_s.insert(-6, " ") %></div>
    <h3><%= order.created_at.to_time.strftime("%B %d, %Y") %></h3>
    <div><%= order.email %></div>
    <div><%= order.address %></div>
  </div>
<% end %>
