<div class="top">
  <div class="variation"><%=item.variation.name%></div>
  <div class="product"><%=item.variation.product.name%></div>
</div>

<div class="middle">
  <% if item.variation.product.sizes.count > 1 %>
    <size-selector>
      <% item.variation.builds.each do |build| %>
        <div js-build="<%= build.to_json(methods: [:short_name, :price_retail], only: [:id]) %>"><%= build.size.name %></div>
      <% end %>
    </size-selector>
  <% else %>
    <div class="one-size" js-build="<%= item.variation.builds.first.to_json(methods: [:short_name, :price_retail], only: [:id]) %>"><%= item.variation.builds.first.size.name %></div>
  <% end %>
  
  <div class="price">
    $<span js-price>100</span>
    <currency-selector>
      <img src="<%= asset_path("canada.svg") %>" class="cad hide">
      <img src="<%= asset_path("usa-flag.svg") %>" class="usd hide">
    </currency-selector>
  </div>
  
  <bag-selector class="perspective">
    <div class="add-to-bag button">Yes Please!</div>
    <div class="in-the-bag">
      It's in <a js-bag-link>The Bag</a>
    </div>
  </bag-selector>
</div>

<info-selector>
  <% item.variation.product.infos.each do |info| %>
    <div>
      <div class="name"><%= info.name %></div>
      <div class="content"><%= info.content %></div>
    </div>
  <% end %>
  <div>Store Q&A</div>
</info-selector>

<info-display>
  <div>Info Content</div>
</info-display>
