<div class="top">
  <div class="variation"><%=item.variation.name%></div>
  <div class="product"><%=item.variation.product.name%></div>
</div>

<div class="middle">
  <% if item.variation.product.sizes.count > 1 %>
    <size-selector>
      <% item.variation.builds.each do |build| %>
        <div js-build="build.id"><%= build.size.name %></div>
      <% end %>
    </size-selector>
  <% end %>
  
  <div class="price">$<span js-price>100</span></div>
  
  <button>Yes Please!</button>
  <purchase-status class="cart">
    <div>It's in <a js-bag>The Bag</a></div>
  </purchase-status>
</div>

<info-selector>
  <% item.variation.product.infos.each do |info| %>
    <div>
      <div class="name"><%= info.name %></div>
      <div class="content"><%= info.content %></div>
    </div>
  <% end %>
  <div>Store Q&A</div>
</info-selector>

<info-display>
  <div>Info Content</div>
</info-display>
