<div class="top">
  <div class="variation"><%=item.variation.name%></div>
  <div class="product"><%=item.product.name%></div>
</div>

<% if feature_flag :retail %>
  <div class="middle">
    <% if item.product.sizes.count > 1 %>
      <size-selector class="multi">
        <%= item.variation.builds.where(show_retail: true).map { |build| js_build_elm(build) }.join("\n").html_safe %>
      </size-selector>
    <% else %>
      <size-selector class="single">
        <%=
          # No need to check show_retail - we know it's on, otherwise we wouldn't be rendering this panel
          js_build_elm(item.variation.builds.first)
        %>
      </size-selector>
    <% end %>
    
    <price-selector class="perspective">
      $<span js-price></span>
      <currency-selector>
        <img src="<%= asset_path("cad.svg") %>" class="cad hide">
        <img src="<%= asset_path("usd.svg") %>" class="usd hide">
      </currency-selector>
    </price-selector>
    
      <bag-selector class="perspective">
          <div class="add-to-bag button">Yes Please!</div>
        <div class="in-the-bag">
          It's in <a js-bag-link>The Bag</a>
        </div>
      </bag-selector>
  </div>
<% else %>
  <div class="middle">
    - online store launching this fall -
  </div>
<% end %>

<div class="bottom">
  <info-selector>
    <% item.product.infos.where(show_retail: true).each do |info| %>
      <div ng-click="showing = showing == <%=info.id%> ? null : <%=info.id%>"><%= info.name %></div>
    <% end %>
    <div ng-click="showing = showing == -1 ? null : -1">Store Q&A</div>
  </info-selector>

  <info-display>
    <% item.product.infos.where(show_retail: true).each do |info| %>
      <div ng-show="showing == <%=info.id%>"><%= info.content %></div>
    <% end %>
    <div ng-show="showing == -1">This is the Q&A</div>
  </info-display>
</div>
