<% content_for :title do "Wholesale - Fehu Inc." end %>

<h1 class="page-title">Welcome Back</h1>

<%= form_for @merchant, url: merchant_check_password_path, method: "post" do |f| %>
  <div>
    <label>
      Please enter your password.
      <%= f.password_field :password, autofocus: true %>
    </label>
  </div>

  <%= render 'partials/form_errors', model: @merchant %>

  <div class="perspective">
    <%= f.submit "Log In", data: { disable_with: "Logging In..." } %>
  </div>

<% end %>

<br>

<div class="center">
  <%= link_to "I forgot my password!", merchant_send_password_reset_path %>
</div>
