<% content_for :title do "Wholesale - Fehu Inc." end %>

<h1 class="page-title">Welcome</h1>

<%= form_for @merchant, url: merchant_create_password_path, method: "post" do |f| %>
  <h4><%= @merchant.email %></h4>

  <p>It looks like this is your first time ordering from us here.</p>

  <hr>

  <p><i>If you've ordered from our site before, you probably used a different email address, or made a typo. Easy fix — <%= link_to "go back", merchant_path %>.</i></p>

  <hr>

  <div>
    <label>
      Please enter a password.
      <%= f.password_field :password, autofocus: true %>
    </label>
  </div>

  <div>
    <label>
      Enter that password one more time.
      <%= f.password_field :password_confirmation %>
    </label>
  </div>

  <%= render 'partials/form_errors', model: @merchant %>

  <div class="perspective">
    <%= f.submit "Sign Up", data: { disable_with: "Signing Up..." } %>
  </div>
<% end %>
