<% content_for :title do "Wholesale - Fehu Inc." end %>
<% content_for :description do "Invite some lovely Fehu leather into your store." end %>

<h1 class="page-title">Wholesale</h1>

<section class="actions">
  <% if @merchant.current_order.nil? %>
    <%= link_to "New Order", new_wholesale_path %>
  <% else %>
    <%= link_to "Edit Current Order", edit_wholesale_path %>
  <% end %>
  <% if @merchant.orders.count > 1 or (@merchant.orders.count == 1 and !@merchant.current_order) %>
    <%= link_to "Past Orders", orders_wholesale_path %>
  <% end %>
  <a href="<%=ENV.fetch("S3_PATH")%>/rails/catalog/fehu-spring-2016.pdf">Catalog (PDF)</a>
  <a href="<%=ENV.fetch("S3_PATH")%>/rails/catalog/fehu-line-sheet-canada-spring-2016.pdf">Line Sheet (PDF)</a>
</section>

<section>
  <%= form_for @merchant, url: merchant_path do |f| %>
    <p>Need to update your contact info?</p>

    <%= render 'partials/form_errors', model: @merchant %>

    <div class="fields">

      <div class="field">
        <label>
          Your Name
          <div class="info-prompt" toggler-toggle="OwnerName">?</div>
          <%= f.text_field :your_name, placeholder: "eg: Tyr Annosaurus" %>
        </label>
      </div>

      <div class="field">
        <label>
          Store Name
          <div class="info-prompt" toggler-toggle="StoreName">?</div>
          <%= f.text_field :store_name, placeholder: "eg: Tiny Arms Apparel" %>
        </label>
      </div>

      <div class="field">
        <label>
          Email Address
          <div class="info-prompt" toggler-toggle="Email">?</div>
          <%= f.email_field :email, placeholder: "eg: tyran@example.com" %>
        </label>
      </div>

      <div class="field">
        <label>
          Phone Number
          <div class="info-prompt" toggler-toggle="OwnerPhone">?</div>
          <%= f.text_field :phone_number, placeholder: "eg: (006) 500-0000" %>
        </label>
      </div>

      <div class="field">
        <label>
          Tax ID Number
          <div class="info-prompt" toggler-toggle="TaxID">?</div>
          <%= f.text_field :tax_id_number %>
        </label>
      </div>

      <div class="field">
        <label>
          Currency
          <%= f.select :currency, ["CAD", "USD"] %>
        </label>
      </div>

    </div>

    <hr>

    <div class="perspective">
      <%= f.submit "Save", class: "save", data: { disable_with: "Saving" } %>
    </div>

  <% end %>

  <div class="info-popup" toggler-target="StoreName">
    If you represent multiple stores or locations, just enter the name of the overall brand.
    <div class="close" toggler-hide="StoreName">Close</div>
  </div>

  <div class="info-popup" toggler-target="OwnerName">
    If we need to follow up with you about this order, it helps to know who placed the order.
    <div class="close" toggler-hide="OwnerName">Close</div>
  </div>

  <div class="info-popup" toggler-target="OwnerPhone">
    We will try to reach you by email. If that fails, we'll try this number.
    <div class="close" toggler-hide="OwnerPhone">Close</div>
  </div>

  <div class="info-popup" toggler-target="TaxID">
    We need your tax ID number to verify that you're a business.
    <div class="close" toggler-hide="OwnerPhone">Close</div>
  </div>

  <div class="info-popup" toggler-target="Email">
    We'll store your account info under this email address. We'll also use it as the main contact address for your account.
    <div class="close" toggler-hide="Email">Close</div>
  </div>
</section>


<section class="actions">
  <%= link_to "Wholesale Policies", wholesale_policies_path %>
</section>
