<% content_for :title do "Wholesale - Fehu Inc." end %>
<% content_for :description do "Invite some lovely Fehu leather into your store." end %>

<h1 class="page-title">Create Your Account</h1>

<%= form_for @merchant, url: new_merchant_path do |f| %>
  
  <h4><%= @merchant.email %></h4>
  
  <p>It looks like this is your first time ordering from us here.</p>
  
  <hr>
  
  <p><i>If you've ordered from our site before, you probably used a different email address, or made a typo. Easy fix — <%= link_to "go back", merchant_path %>.</i></p>
  
  <hr>
  
  <p>There are just three more things we'd like to know before we let you browse our wholesale listing.</p>
  
  <%= render 'partials/form_errors', model: @merchant %>

  <div>
    <label>
      Your Name
      <div class="info-prompt" ng-cloak ng-click="showOwnerNamePopup = !showOwnerNamePopup">?</div>
      <%= f.text_field :your_name, placeholder: "eg: Tyr Annosaurus" %>
    </label>
  </div>
  
  <div>
    <label>
      Store Name
      <div class="info-prompt" ng-cloak ng-click="showStoreNamePopup = !showStoreNamePopup">?</div>
      <%= f.text_field :store_name, placeholder: "eg: Tiny Arms Apparel" %>
    </label>
  </div>
  
  <div>
    <label>
      Phone Number
      <div class="info-prompt" ng-cloak ng-click="showOwnerPhonePopup = !showOwnerPhonePopup">?</div>
      <%= f.text_field :phone_number, placeholder: "eg: (006) 500-0000" %>
    </label>
  </div>
  
  <hr>
  
  <%= f.hidden_field(:email) %>
    
  <div class="perspective">
    <%= f.submit "Continue", data: { disable_with: 'Submitting...' } %>
  </div>

<% end %>

<div class="info-popup" ng-cloak ng-show="showStoreNamePopup">
  If you represent multiple stores or locations, just enter the name of the overall brand.
  <div class="close" ng-click="showStoreNamePopup = false">Close</div>
</div>

<div class="info-popup" ng-cloak ng-show="showOwnerNamePopup">
  If we need to follow up with you about this order, it helps to know who placed the order.
  <div class="close" ng-click="showOwnerNamePopup = false">Close</div>
</div>

<div class="info-popup" ng-cloak ng-show="showOwnerPhonePopup">
  We will try to reach you by email. If that fails, we'll try this number.
  <div class="close" ng-click="showOwnerPhonePopup = false">Close</div>
</div>
