<h1>Hit The Reset Button</h1>

<section>
  <%= form_for @merchant, url: merchant_reset_password_path(@token), html: { method: :patch } do |f| %>
    <div>
      <label>
        Please enter a password.
        <%= f.password_field :password, autofocus: true %>
      </label>
    </div>

    <div>
      <label>
        Enter that password one more time.
        <%= f.password_field :password_confirmation %>
      </label>
    </div>

    <%= render 'partials/form_errors', model: @merchant %>

    <div class="perspective">
      <%= f.submit "Save Password", data: { disable_with: "Saving Password..." } %>
    </div>
  <% end %>
</section>
