<h1 class="page-title">Who In The <br show-400> Hoot Are We?</h1>

<section class="who perspective">
  <div class="person freyja">
    <%= image_tag "freyja.jpg" %>
    <h3><b>Freyja Ulveland</b></h3>
    <p class="description">Creation, Production, Sales</p>
    <p class="email"><em>freyja@fehuleather.com</em></p>
  </div>
  
  <div class="person ivan">
    <%= image_tag "ivan.jpg" %>
    <h3>Ivan Reese / Monsters</h3>
    <p class="description">Website, Writing / Support</p>
    <p class="email"><em>ivan@fehuleather.com</em></p>
  </div>
  
</section>

<section>
  <h3>History</h3>
  <p>Freyja started making leather cuffs back in 2012-ish. They were wildly popular from the outset, and she loved working with leather, so it gradually snowballed into a full-fledged business. In addition to designing all the products, Freyja has created her own natural dyes and processes, giving Fehu leather an incredible beauty and feel in the hand.</p>
  <p>Ivan created this website from scratch — that's his thing. Monsters tried her best not to scratch — that's her thing.</p>
  <p>Working together, they've made Fehu Inc. into the hootest independent leather laboratory this side of the moon.</p>
</section>

<section>
  <h3>Philosophy</h3>
  <p class="columns">Leather tells a great story. The techniques born at the dawn of civilization have grown up alongside humanity. Today it is a material of high fashion and pure function, and we absolutely love it. As modern leatherworkers, we are scientific and artistic, methodical experimenters and expressive through craft. We make pieces, not products. We do as much as we can by hand so our work feels true and distinct. If you like our leather here, you'll love it more with a month to wear-in, with a year of friends and strangers asking about it, and a decade of it being part of your story.</p>
</section>

<section class="inspirations">
  <h3>Inspirations</h3>
  <div>
    <%= image_tag "freyja-small.jpg" %>
    <p><strong>Freyja</strong><br>My inspiration comes from the lost parts of forests — the parts you know are there, but no matter how far you walk you will never find them.</p>
  </div>
  <div>
    <%= image_tag "monsters-small.jpg" %>
    <p><strong>Monsters</strong><br>My inspiration comes from staring intensely at small objects for long periods of time, forcing humans to snuggle with me when they're trying to work, and biting toes that poke out from under the blanket.</p>
  </div>
  <div>
    <%= image_tag "ivan-small.jpg" %>
    <p><strong>Ivan</strong><br>My inspiration comes from Monsters.</p>
  </div>
</section>
