<h1 class="page-title">We Are Coming At You Live</h1>

<section>
  <% unless @events.length %>
    No upcoming events.
  <% end %>

  <% @events.each do |event| %>
    <div class="event">
      <h3 class="bar <%= bar_color %>"><%=event.name%></h3>
      <p><%=event.date%></p>
      <p><%=event.location%></p>
      <p><%=event.description%></p>
    </div>
  <% end %>
</section>

<section>
  <p>Want to book us for an event? Get in touch: <em>freyja@fehuleather.com</em></p>
</section>
