<h1>Don't Take Our Word For It</h1>

<div class="clipping">
  <div class="image">
    <img src="<%=ENV["S3_PATH"]%>/rails/press/niche.jpg" width="200px">
  </div><div class="info">
    <h3 class="bar A">Niche Magazine</h3>
    <p>2015 Autumn Edition</p>
    <p>
      <a href="http://www.nichemagazine.com">Website</a>
      <a href="<%=ENV["S3_PATH"]%>/rails/press/niche-au15-fehu.pdf">PDF</a>
    </p>
  </div>
</div>

<div class="clipping">
  <div class="image">
    <img src="<%=ENV["S3_PATH"]%>/rails/press/georgie.jpg" width="200px">
  </div><div class="info">
    <h3 class="bar B">Georgie Magazine</h3>
    <p>Escape — August 2015</p>
    <p>
      <a href="http://georgiemagazine.com/fashion/escape/">Website</a>
    </p>
  </div>
</div>

<p class="resources">
  We'd love to appear in your editorial/photoshoot/blog, and we'll help out however we can.
  Just drop us a line and we'll send you whatever you need. To get you started,
  here's our <a href="<%=ENV["S3_PATH"]%>/rails/catalog/fehu-spring-2016.pdf">Spring 2016 Catalog</a>,
  and here's our logo as an <a href="<%=ENV["S3_PATH"]%>/rails/static/logo.svg">SVG</a> (Vector).
</p>
