<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hi stinky!</p>

<p><%= @order.address.email %> just placed a retail order on the website:</p>

<ul>
<% @order.items.each do |item| %>
  <li>
    <%= item.quantity %> • <%= item.build_name %> <%= item.product_name %> • <%= item.build.stock %> left in stock
  </li>
<% end %>
</ul>

<p>The treats will be traveling here:</p>

<p>
  <%= @order.address.line1 %><br>
  <% if @order.address.line2.present? %>
    <%= @order.address.line2 %><br>
  <% end %>
  <%= @order.address.region %>
  <%= @order.address.code %><br>
  <%= @order.address.country %>
</p>

<p>Wigglestinks!</p>
