<%= render 'partials/form_errors', model: f.object %>

<div>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
</div>

<%= f.label :wholesale_description, "Wholesale Description (HTML)" %>
<%= f.text_area :wholesale_description, rows: 4 %>

<div class="row">
  <%= f.label :price_retail, "Retail Price" %>
  <%= f.number_field :price_retail, step: 1 %>
  <%= f.label :price_wholesale, "Wholesale Price" %>
  <%= f.number_field :price_wholesale, step: 1 %>
</div>

<div class="row spread">
  <%= f.label :made_to_order do %>
    <%= f.check_box :made_to_order %> Made To Order
  <% end %>
  <% if edit %>
    <div class="perspective right">
      <deleter class="button" path="<%= admin_product_path(@product) %>" redirect="<%= admin_products_path %>">
        Hold To Delete
      </deleter>
    </div>
  <% end %>
</div>

<div class="perspective">
  <%= f.submit "Save", class: "save" %>
</div>

<div class="center">
  <%= link_to "Er... cancel please!", admin_products_path %>
</div>
