<h1><%= @product.name %></h1>

<div>
  <%= link_to "Preview Images", admin_preview_images_path(@product) %>
</div>

<section>
  <h2>Stocks</h2>
  <table class="stock">
    <thead>
      <td><a>Quantity</a></td>
      <% @product.variations.order(:level).each_with_index do |variation, index| %>
        <td <%= "default=true" if index == 0 %>><a><%= variation.name %></a></td>
      <% end %>
    </thead>
    <tbody>
      <% @stocks.each do |stock| %>
        <tr class=<%= 'un' unless stock.variants.all?(&:published) %>>
          <td stock-quantity path="<%= admin_update_stock_path(stock) %>">
            <input type="number" value="<%= stock.quantity %>" class="quantity">
            <input type="submit" value="💩" class="save">
          </td>
          <% stock.variants.joins(:variation).order("variations.level").each do |variant| %>
            <td sort-value='<%= "#{variant.sort_order.to_s}_#{variant.name}" %>'
                class=<%= 'un' unless variant.published %>>
              <%= variant.name %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </body>
  </table>
</section>

<section>
  <h2>Variations</h2>
  
  <% @product.variations.each do |variation| %>
    <div class="variation">
      <h3 class="hide-edit"><%= variation.name %> <%= link_to "Edit", edit_admin_variation_path(variation), class: "edit" %></h3>
      
      <% variation.variants.order(:sort_order, :name).each do |variant| %>
        <div class="variant hide-edit">
          <div class="status <%= 'un' if !variant.published %>">P</div><!--
      ---><div class="status <%= 'un' if !variant.show_retail %>">R</div><!--
      ---><div class="status <%= 'un' if !variant.show_wholesale %>">W</div>
          
          <%= variant.name %> <%= link_to "Edit", edit_admin_variant_path(variant), class: "edit" %>
        </div>
      <% end %>
      <div class="new-variant">
        <%= link_to "New #{variation.name.titlecase}", new_admin_variation_variant_path(variation) %>
      </div>
      
    </div>
  <% end %>
  
  <div class="new-variation">
    <%= link_to "New Variation", new_admin_product_variation_path(@product) %>
  </div>

</section>

<section>
  <h2>Info</h2>
  <% @product.infos.each do |info| %>
    <div class="info hide-edit">
      <%= info.name %> <%= link_to "Edit", edit_admin_info_path(info), class: "edit" %></h3>
    </div>
  <% end %>
  <div class="new-info">
    <%= link_to "New Info", new_admin_product_info_path(@product) %>
  </div>
</section>

<section>
  <h2>Basics</h2>
  <%= form_for [:admin, @product] do |f| %>
    <%= render 'partials/form_errors', model: @product %>

    <div>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :description, "Description" %>
      <%= f.text_area :description %>
    </div>
    <hr>
    <div>
      <%= f.label :show_retail do %>
        <%= f.check_box :show_retail, { "ng-model" => "show_retail", "ng-init" => "show_retail = #{@product.show_retail}" } %> Retail
      <% end %>
      <%= f.label :show_wholesale do %>
        <%= f.check_box :show_wholesale, { "ng-model" => "show_wholesale", "ng-init" => "show_wholesale = #{@product.show_wholesale}" } %> Wholesale
      <% end %>
    </div>
    <div class="row">
      <div ng-if="show_retail">
        <%= f.label :price_retail, "Retail Price" %>
        <%= f.number_field :price_retail %>
      </div>
      <div ng-if="show_wholesale">
        <%= f.label :price_wholesale, "Wholesale Price" %>
        <%= f.number_field :price_wholesale %>
      </div>
    </div>
    <hr>
    <div class="row spread">
      <div>
        <%= f.label :published do %>
          <%= f.check_box :published %> Published
        <% end %>
      </div>
      <div class="totem-levels">
        <%= f.number_field :totem_levels %>
        <%= f.label :totem_levels, "Levels to show in Totem" %>
      </div>
      <deleter path="<%= admin_product_path(@product) %>" redirect="<%= admin_kingdoms_path %>">
        Hold To Delete
      </deleter>
    </div>
    <hr>
    <div class="perspective">
      <%= f.submit "Save", class: "save" %>
    </div>
    
  <% end %>
</section>
