<h1><%= @product.name %></h1>

<section>
  <h2>Builds</h2>
  <table>
    <thead>
      <td default=true><a>Variation</a></td>
      <td><a>Size</a></td>
      <td><a>R</a></td>
      <td><a>W</a></td>
      <td><a>Stock</a></td>
    </thead>
    <tbody>
      <% @builds.each do |build| %>
        <tr js-build-editor="<%= build.id %>">
          <td><%= build.variation.name %></td>
          <td><%= build.size.name %></td>
          <td>
            <input type="checkbox" js-build-editor-retail <%= build.show_retail ? "checked" : "" %>>
          </td>
          <td>
            <input type="checkbox" js-build-editor-wholesale <%= build.show_wholesale ? "checked" : "" %>>
          </td>
          <td>
            <input type="number" js-build-editor-stock value="<%= build.stock %>" min="0" step="1">
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p><small>Todo: Show "Saved" here when the AJAX completes.</small></p>
</section>

<section>
  <h2>Variations</h2>
  <div class="variations">
    <% @variations.each do |variation| %>
      <%= link_to edit_admin_variation_path(variation), class: "variation" do %>
        <img src="<%=variation.totem_image%>">
        <img src="<%=variation.wholesale_image%>">
        <span><%= variation.name %></span>
      <% end %>
    <% end %>
  </div>
  <div class="new-variation">
    <%= link_to "New Variation", new_admin_product_variation_path(@product), class: "button" %>
  </div>
</section>

<section>
  <h2>Sizes</h2>
  <div class="sizes">
    <% @sizes.each do |size| %>
      <div class="size">
        <%= link_to size.name, edit_admin_size_path(size), class: "edit" %></h3>
      </div>
    <% end %>
  </div>
  <div class="new-size">
    <%= link_to "New Size", new_admin_product_size_path(@product), class: "button" %>
  </div>
</section>

<section>
  <h2>Info</h2>
  <% @infos.each do |info| %>
    <div class="info">
      <%= link_to info.name, edit_admin_product_info_path(info), class: "edit" %></h3>
    </div>
  <% end %>
  <div class="new-info">
    <%= link_to "New Info", new_admin_product_product_info_path(@product), class: "button" %>
  </div>
</section>

<section>
  <h2>Basics</h2>
  <%= form_for [:admin, @product] do |f| %>
    <%= render "admin/products/fields", f: f, edit: true %>
  <% end %>
</section>
