<h1>Stinky Products</h1>

<% @kingdoms.each do |kingdom| %>
  <section class="kingdom">
    <editable field="name" path="<%=admin_kingdom_path(kingdom)%>">
      <h2><%= kingdom.name %></h2>
    </editable>
    
    <% kingdom.products.order(:name).each do |product| %>
      <div class="product">
        <h3><%= link_to product.name, edit_admin_product_path(product) %></h3>
      </div>
    <% end %>
    
    <h4 class="new-product">
      <%= link_to "New #{kingdom.name.singularize}", new_admin_kingdom_product_path(kingdom) %>
    </h4>
    
  </section>
<% end %>

<h3 class="new-kingdom">
  <%= link_to "New Kingdom", new_admin_kingdom_path %>
</h3>
