<h1>New Kingdom</h1>

<%= form_for [:admin, @kingdom] do |f| %>
  <%= render 'partials/form_errors', model: @kingdom %>
  
  <div>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, autofocus: true %>
  </div>
  
  <div class="perspective">
    <%= f.submit "Save", class: "save" %>
  </div>
  
  <div class="center">
    <%= link_to "Er... cancel please!", admin_kingdoms_path %>
  </div>
  
<% end %>
