<%= render 'partials/form_errors', model: f.object %>
<input type="hidden" s3-data="<%= @data %>">

<div class="perspective">
  <%= f.file_field :src %>
  <div class="progress-bar button"><span>o‿‿o</span></div>
  <%= f.submit "Save", class: "save" %>
</div>

<div class="center">
  <%= link_to "Er... cancel please!", admin_images_path %>
</div>

<div class="preview">
  <%= image_tag f.object.src if f.object.src? %>
</div>
