<h1 class="page-title">Wholesale</h1>

<section class="actions">
  <a href="/wholesale/order/edit">Design a Wholesale Order</a>
  <a href="/wholesale/order/repeat">Quick Re-Order</a>
  <a href="/wholesale/orders">View Past Orders</a>
</section>

<section>
  <%= form_for @merchant, url: merchant_path do |f| %>
    <p>Need to update your contact info?</p>
    
    <%= render 'partials/form_errors', model: @merchant %>
    
    <div class="fields">
    
      <div class="field">
        <label>
          Your Name
          <div class="info-prompt" ng-click="showOwnerNamePopup = !showOwnerNamePopup">?</div>
          <%= f.text_field :your_name, placeholder: "eg: Tyr Annosaurus" %>
        </label>
      </div>
      
      <div class="field">
        <label>
          Store Name
          <div class="info-prompt" ng-click="showStoreNamePopup = !showStoreNamePopup">?</div>
          <%= f.text_field :store_name, placeholder: "eg: Tiny Arms Apparel" %>
        </label>
      </div>

      <div class="field">
        <label>
          Email Address
          <div class="info-prompt" ng-click="showEmailPopup = !showEmailPopup">?</div>
          <%= f.text_field :email, placeholder: "eg: its-me@example.com" %>
        </label>
      </div>
        
      <div class="field">
        <label>
          Phone Number
          <div class="info-prompt" ng-click="showOwnerPhonePopup = !showOwnerPhonePopup">?</div>
          <%= f.text_field :phone_number, placeholder: "eg: (006) 500-0000" %>
        </label>
      </div>
      
    </div>
        
    <hr>
      
    <div class="perspective">
      <%= f.submit "Save" %>
    </div>

  <% end %>

  <div class="info-popup" ng-show="showStoreNamePopup">
    If you represent multiple stores or locations, just enter the name of the overall brand.
    <div class="close" ng-click="showStoreNamePopup = false">Close</div>
  </div>

  <div class="info-popup" ng-show="showOwnerNamePopup">
    If we need to follow up with you about this order, it helps to know who placed the order.
    <div class="close" ng-click="showOwnerNamePopup = false">Close</div>
  </div>

  <div class="info-popup" ng-show="showOwnerPhonePopup">
    We will try to reach you by email. If that fails, we'll try this number.
    <div class="close" ng-click="showOwnerPhonePopup = false">Close</div>
  </div>

  <div class="info-popup" ng-show="showEmailPopup">
    We'll store your account info under this email address. We'll also use it as the main contact address for your account.
    <div class="close" ng-click="showEmailPopup = false">Close</div>
  </div>
</section>
