<div class="top">
  <div class="variation"><%=item.variation.name%></div>
  <div class="product"><%=item.product.name%></div>
</div>

<div class="middle">
  <% if item.product.sizes.count > 1 %>
    <size-selector class="multi">
      <%= item.variation.totem_builds_js.html_safe %>
    </size-selector>
  <% else %>
    <size-selector class="single">
      <%= js_build_elm(item.variation.builds.first) %>
    </size-selector>
  <% end %>
  
  <div class="inbl">
    <price-selector class="perspective">
      $<span js-price></span>
      <currency-selector>
        <img src="<%= asset_path("cad.svg") %>" class="cad hide">
        <img src="<%= asset_path("usd.svg") %>" class="usd hide">
      </currency-selector>
    </price-selector>
    
    <bag-selector class="perspective">
      <div class="add-to-bag button">Yes Please!</div>
      <div class="out-of-stock">Out Of Stock</div>
      <div class="in-the-bag">It's in <a js-bag-link>The Bag</a></div>
    </bag-selector>
  </div>
</div>

<div class="bottom">
  <div class="more-info-toggle" ng-click="moreInfo = true">More Info</div>
  <div class="more-info">
    <div class="content">
      <h3><%= item.variation.full_name %></h3>
      <% if item.variation.description_retail.length > 0 %>
        <div class="variation-info">
          <%= item.variation.description_retail.html_safe %>
        </div>
      <% end %>
      <% if item.product.description_retail.length > 0 %>
        <div class="product-info">
          <%= item.product.description_retail.html_safe %>
        </div>
      <% end %>
      <div class="shop-info">
        <h4>Payment</h4>
        <p>We accept Visa, MasterCard, American Express, and really good back rubs.</p>
        
        <h4>Shipping</h4>
        <p>We ship to Canada and the US. It takes a week or two. We'll cover the cost.</p>
        
        <h4>Returns & Refunds</h4>
        <p>If for any reason you are unhappy with your purchase, please <a href="/about">let us know</a>. We will do our utmost to make it right — refund, replacement, or special arrangement.</p>
        
        <h4>HEEEEELP!!!!!!</h4>
        <p>If you have any other questions, don't hesitate to <a href="/about">get in touch</a>.</p>
      </div>
    </div>
    <div class="cool perspective">
      <div class="button" ng-click="moreInfo = false">Cool</div>
    </div>
  </div>
</div>
