<%= render 'partials/form_errors', model: f.object %>

<div>
  <%= f.label :variation_id, "Product Variation" %>
  <%= f.collection_select :variation_id, select_variations, :first, :second, {}, { "variation-select" => true } %>
</div>

<div manual-entry>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
</div>

<div manual-entry>
  <%= render 'partials/image_uploader', f:f, field: :image, name: "Totem Image" %>
</div>

<div manual-entry>
  <%= f.label :content, "Content" %>
  <%= f.text_area :content, rows: 5 %>
</div>

<hr>

<div class="row spread">
  <div>
    <%= f.number_field :index %>
    <%= f.label :index, "Index" %>
  </div>
  <% if edit %>
    <div class="perspective right">
      <deleter class="button" path="<%= admin_totem_item_path(f.object) %>" redirect="<%= admin_totem_path %>">
        Hold To Delete
      </deleter>
    </div>
  <% end %>
</div>

<hr>

<div class="perspective">
  <%= f.submit "Save", class: "save", data: { disable_with: "Saving" } %>
  <%= link_to "Back", admin_totem_path, class: "back" %>
</div>
