<!doctype html>
<html lang="en" ng-app="FehuApp">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  
  <title><%= head_title(yield(:title)) %></title>
  
  <meta name="description" content="<%= head_description(yield(:description)) %>">
  <meta name="keywords" content="fehu,leather,leather cuff,leather bracelet,leather belt,wrap cuff,handmade">
  
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">

  <script>
    FEHU = {}
    FEHU.imagePath = "<%= ENV.fetch('IMAGEPATH') %>"
  </script>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", defer: "defer" %>

  <link rel="apple-touch-icon" href="<%=image_path "favicon.png"%>">
  <link rel="shortcut icon" href="<%=image_path "favicon.png"%>">
  
  <meta property="og:site_name" content="Fehu">
  <meta property="og:title" content="Unique leather cuffs and other cute stuffs.">
  <meta property="og:description" content="Vegetable tanned leather, dyed with plants, cut and sewn by hand in Calgary, Canada.">
  <meta property="og:url" content="<%= ENV.fetch('DOMAIN') %>">
  <meta property="og:image" content="<%=image_path "ogimage.png"%>">
  <meta property="og:image:width" content="600">
  <meta property="og:image:height" content="315">
  <meta property="og:image:secure_url" content="<%=image_path "ogimage.png"%>"
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@fehuleather">

  <%= csrf_meta_tags %>
</head>

<body class="<%=body_class%>" id="<%=body_id%>">
  <modal-cover></modal-cover>
  <%= render "partials/flash" %>
  <%= render "partials/header" %>
  <%= render "partials/merchant_header" if merchant? %>
  <%= render "partials/admin_header" if admin? %>
  
  <!--[if gt IE 10]><!-->
  <main>
    <%= yield %>
  </main>
  <!--<![endif]-->

  <!--[if lte IE 10]>
    <%= render "partials/ie" %>
  <![endif]-->

  <%= render "partials/footer" %>
</body>
</html>
